# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment folders
venv/
env/
.venv/

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Distribution / packaging
build/
dist/
*.egg-info/
